# Ignore everything
/*

# But not scripts
!scripts/
!R/
!R/**
!pipeline/
!pipeline/**
!config/
!config/analysis.yml
!_targets.R
!renv.lock
!Dockerfile
!.dockerignore
!.gitignore
!README.md

# But not download.sh and pre-processing script
scripts/download.sh
scripts/flow_pre.R
